<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .red {
            color: red;
        }

        .big {
            font-size: 50px;
        }
    </style>
</head>
<body>

<div id="app">
    {{ message }}
    {{ message | toupper}}
    {{number }}
    {{number | topercentage}}
    <br/>
    您喜欢的游戏是:{{mygame}}

    <br/>
    <input value="" v-model="mygame">

    <h3>游戏列表</h3>
    <div v-if="seen">2017最新发卖</div>
    <button v-on:click="btnClick('我的世界')">我的世界</button>
    <button v-on:click="btnClick('地下城勇士')">地下城勇士</button>
    <button @click="btnClick('lol')">lol</button>
    <button>dota</button>
    <br/>

    <ol>
        <game-item v-for="game in games" v-bind:game="game"></game-item>
    </ol>
    <br/>
    <ol>
        <li v-for="(game,index) in games">
            游戏名字：({{index+1}}) {{game.title}}，价格：{{game.price}}
        </li>
    </ol>
    <br/>
    原来的几个：{{price}},日本价格：{{priceInTax}},{{priceInTax}},{{priceInTax}},{{priceInTax}},{{priceInTax}},中国价格:{{priceInChina}}

    <button @click="computer()" value="computer"/>


    <br/>
    <p v-bind:class="{red:isActive}">红色文本</p><br/>
    <button @click="changeColor">改变文本颜色</button>

    <br/>
    <p v-bind:class="cssObj">红色文本对象</p><br/>
    <button @click="changeColorObj">改变文本颜色对象</button>
    <h3 v-if="goals===0">成绩未公布</h3>
    <h3 v-else-if="goals<60">成绩不及格</h3>
    <h3 v-else-if="goals<90">成绩良好</h3>
    <h3 v-else>成绩非常好，玩游戏吧</h3>

    <button @click="changeGoals">改变成绩</button>
    <h3>循环js对象</h3>
    <div v-for="(value,key) in mygame2">
        {{key}}:{{value}}<br/>
    </div>

    <h3>表达复选框</h3>
    <input type="checkbox" id="game1" value="生化危机" v-model="checkedGames">生化危机</input>
    <input type="checkbox" id="game2" value="模拟飞行" v-model="checkedGames">模拟飞行</input>
    <input type="checkbox" id="game3" value="塞尔达传说" v-model="checkedGames">塞尔达传说</input>
    <h3>您选择的游戏是:{{checkedGames}}</h3>

    <h3>单选按钮</h3>
    <h3>性别选择</h3>
    <input type="radio" id="male" value="男" v-model="checkedSex">
    <label for="male">男</label>
    </input>
    <input type="radio" id="female" value="女" v-model="checkedSex">
    <label for="female">女</label> </input>
    <h3>爱好选择</h3>
    <input type="radio" id="game" value="打游戏" v-model="checkedHobby">打游戏</input>
    <input type="radio" id="film" value="看电影" v-model="checkedHobby">看电影</input>

    <h3>
        性别是:{{checkedSex}},爱好是：{{checkedHobby}}
    </h3>

    <h3>下拉框</h3>
    <h3>你喜欢的NBA球星:</h3>

    <select v-model="likedstar" style="width: 200px">
        <option>科比1</option>
        <option>科比2</option>
        <option>科比3</option>
        <option>科比4</option>
        <option>科比5</option>

    </select>

    <h3>我喜欢的NBA球星:{{likedstar}}</h3>

    <h3>你喜欢的全明星:</h3>

    <select v-model="allstars" multiple style="width: 200px">
        <option>科比1</option>
        <option>科比2</option>
        <option>科比3</option>
        <option>科比4</option>
        <option>科比5</option>

    </select>

    <h3>全明星:{{allstars}}</h3>
</div>


<script>

    Vue.component("game-item", {
        props: ['game'],
        template: '<li>{{game.title}}</li>'
    });

    let app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            number: 0.5,
            seen: true,
            games: [{title: "game1", price: 201},
                {title: "game2", price: 202},
                {title: "game3", price: 203},
            ],
            mygame: '超级马里奥',
            price: 1000,
            methodTest: 1,
            computedTest: 1,
            isActive: true,
            cssObj: {
                red: true,
                big: true
            },
            goals: 0,
            mygame2: {
                title: '超级马里奥',
                price: 350,
                pubdate: '2017年2月23日',
                category: '涉及',
                aggange: '全年龄'
            },
            checkedGames: [],
            checkedSex: "",
            checkedHobby: "",
            likedstar: "",
            allstars: []


        },
        methods: {
            btnClick: function (name) {
                this.mygame = name
            },
            computer: function () {
                console.log('computer:' + this.methodTest++);
            },
            changeColor: function () {
                this.isActive = !this.isActive
            },
            changeColorObj: function () {
                this.cssObj.red = !this.cssObj.red
            },
            changeGoals: function () {
                this.goals = Math.round(Math.random() * 100)
            }
        },
        filters: {
            toupper: function (value) {
                return value.toUpperCase();
            },
            topercentage: function (value) {
                return value * 100 + '%';
            }
        },
        computed: {
            priceInTax: function () {
                // alert('priceInTax')
                console.log(this.computedTest++)
                return this.price * 1.08;
            },
            priceInChina: function () {
                // alert('priceInChina')
                return Math.round(this.priceInTax / 16.75)
            }
        }
    })


</script>

</body>
</html>