<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .red {
            color: red;
        }

        .big {
            font-size: 50px;
        }
    </style>
</head>
<body>

<div id="app">
    <h3>组件，事件传递，加法运算</h3>

    <add-method :a="6" :b="5" v-on:add_event="getAddResult"></add-method>
    <br/>
    <p>结果是：{{result}}</p>

    <h3>组件变量验证</h3>
    <show-user-info :age="100" :name="'charles'" :details="{'address':'china','language':'chinese'}"></show-user-info>
    <h3>为组件传递变量</h3>
    请输入你的名字：<input type="text" v-model="username">
    <my-name :pname="username"></my-name>

    <h3>数据传递</h3>
    <div>您的成绩评价：</div>
    <test-result scores="50"></test-result>
    <test-result scores="70"></test-result>
    <test-result scores="90"></test-result>
    <test-result scores="100"></test-result>


    <h3>组件的数据函数</h3>
    <div>今天的天气是：
        <today-weather/>
    </div>
    <h3>表格组件</h3>
    <table border="1">
        <tr>
            <td>编号</td>
            <td>名称</td>
        </tr>
        <tr is="row1"></tr>
        <tr is="row2"></tr>
        <tr is="row3"></tr>
    </table>


    <h3>局部组件</h3>
    <my-weather weather="有雨，有血"></my-weather>

    <h3>vue组件</h3>
    <today-weather></today-weather>


    <h3>注册</h3>
    用户名：<input type="text" v-model.lazy="username" @change="checkUsername">
    <div v-if="username.length>0">可注册</div>
    <br/>
    年龄：<input type="number" v-model.number="age"><br/>
    一键：<input type="text" v-model.trim="content"><br/>

    <p>您的用户名是:{{username}}</p>
    <p>您的年龄是:{{age}}</p>
    <p>您的一键是:{{content}}</p>


    {{ message }}
    {{ message | toupper}}
    {{number }}
    {{number | topercentage}}
    <br/>
    您喜欢的游戏是:{{mygame}}

    <br/>
    <input value="" v-model="mygame">

    <h3>游戏列表</h3>
    <div v-if="seen">2017最新发卖</div>
    <button v-on:click="btnClick('我的世界')">我的世界</button>
    <button v-on:click="btnClick('地下城勇士')">地下城勇士</button>
    <button @click="btnClick('lol')">lol</button>
    <button>dota</button>
    <br/>

    <ol>
        <game-item v-for="game in games" v-bind:game="game"></game-item>
    </ol>
    <br/>
    <ol>
        <li v-for="(game,index) in games">
            游戏名字：({{index+1}}) {{game.title}}，价格：{{game.price}}
        </li>
    </ol>
    <br/>
    原来的几个：{{price}},日本价格：{{priceInTax}},{{priceInTax}},{{priceInTax}},{{priceInTax}},{{priceInTax}},中国价格:{{priceInChina}}

    <button @click="computer()" value="computer"/>


    <br/>
    <p v-bind:class="{red:isActive}">红色文本</p><br/>
    <button @click="changeColor">改变文本颜色</button>

    <br/>
    <p v-bind:class="cssObj">红色文本对象</p><br/>
    <button @click="changeColorObj">改变文本颜色对象</button>
    <h3 v-if="goals===0">成绩未公布</h3>
    <h3 v-else-if="goals<60">成绩不及格</h3>
    <h3 v-else-if="goals<90">成绩良好</h3>
    <h3 v-else>成绩非常好，玩游戏吧</h3>

    <button @click="changeGoals">改变成绩</button>
    <h3>循环js对象</h3>
    <div v-for="(value,key) in mygame2">
        {{key}}:{{value}}<br/>
    </div>

    <h3>表达复选框</h3>
    <input type="checkbox" id="game1" value="生化危机" v-model="checkedGames">生化危机</input>
    <input type="checkbox" id="game2" value="模拟飞行" v-model="checkedGames">模拟飞行</input>
    <input type="checkbox" id="game3" value="塞尔达传说" v-model="checkedGames">塞尔达传说</input>
    <h3>您选择的游戏是:{{checkedGames}}</h3>

    <h3>单选按钮</h3>
    <h3>性别选择</h3>
    <input type="radio" id="male" value="男" v-model="checkedSex">
    <label for="male">男</label>
    </input>
    <input type="radio" id="female" value="女" v-model="checkedSex">
    <label for="female">女</label> </input>
    <h3>爱好选择</h3>
    <input type="radio" id="game" value="打游戏" v-model="checkedHobby">打游戏</input>
    <input type="radio" id="film" value="看电影" v-model="checkedHobby">看电影</input>

    <h3>
        性别是:{{checkedSex}},爱好是：{{checkedHobby}}
    </h3>

    <h3>下拉框</h3>
    <h3>你喜欢的NBA球星:</h3>

    <select v-model="likedstar" style="width: 200px">
        <option>科比1</option>
        <option>科比2</option>
        <option>科比3</option>
        <option>科比4</option>
        <option>科比5</option>

    </select>

    <h3>我喜欢的NBA球星:{{likedstar}}</h3>

    <h3>你喜欢的全明星:</h3>

    <select v-model="allstars" multiple style="width: 200px">
        <option>科比1</option>
        <option>科比2</option>
        <option>科比3</option>
        <option>科比4</option>
        <option>科比5</option>

    </select>

    <h3>全明星:{{allstars}}</h3>
</div>


<script>
    Vue.component('add-method', {
        props: ['a', 'b'],
        template: '<div><button v-on:click="add">加法</button> </div>',
        methods: {
            add: function () {
                var sum = 0;
                sum = this.a + this.b;
                console.log("sum:" + sum)
                this.$emit('add_event', {
                    result: sum
                })
            }
        },
    })

    Vue.component('show-user-info', {
        props: {
            name: {
                type: String,
                required: true
            },
            age: {
                type: Number,
                validator: function (value) {
                    return value > 0 && value < 130
                }
            },
            details: {
                type: Object,
                default: function () {
                    return {
                        'address': 'us',
                        'language': 'english'
                    }
                }
            }
        },
        template: '<div>您的名字是:<strong>{{this.name}}</strong><br/>' +
            '您的年龄是:<strong>{{this.age}}</strong><br/>' +
            '您的地址是：<strong>{{this.details.address}}</strong><br/>' +
            '您的语言是：<strong>{{this.details.language}}</strong></div>'
    })

    Vue.component("my-name", {
        props: ['pname'],
        template: '<div>您的名字是:<strong>{{pname}}</strong></div>'
    })

    Vue.component('test-result', {
        props: ['scores'],
        template: '<div><strong>您的成绩是：{{scores}},评价是:{{results}}</strong></div>',
        computed: {
            results: function () {
                var result = ""
                if (this.scores < 60) {
                    result = "不及格"
                } else if (this.scores < 90) {
                    result = "中等"
                } else {
                    result = "优秀"
                }
                return result
            }
        }
    });

    var row1 = {
        template: '<tr><td>1</td><td>塞尔达传说</td></tr>'
    }

    var row2 = {
        template: '<tr><td>2</td><td>超级马里奥</td></tr>'
    }

    var row3 = {
        template: '<tr><td>3</td><td>凤凰传奇</td></tr>'
    }

    var weatherComponent = {
        template: '<div>今天的天气怎么样？ 今天{{weather}}</div>',
        props: ['weather']
    }

    Vue.component("game-item", {
        props: ['game'],
        template: '<li>{{game.title}}</li>'
    });
    Vue.component("today-weather", {
        template: '<div>今天下雨，出不去啦，干什么，{{today}}</div>',
        data: function () {
            return {
                today: '雨夹雪'
            }
        }
    })

    let app = new Vue({
        el: '#app',
        data: {
            result: 0,
            age: '',
            content: '',
            username: 'username',
            isValidUserName: false,
            message: 'Hello Vue!',
            number: 0.5,
            seen: true,
            games: [{title: "game1", price: 201},
                {title: "game2", price: 202},
                {title: "game3", price: 203},
            ],
            mygame: '超级马里奥',
            price: 1000,
            methodTest: 1,
            computedTest: 1,
            isActive: true,
            cssObj: {
                red: true,
                big: true
            },
            goals: 0,
            mygame2: {
                title: '超级马里奥',
                price: 350,
                pubdate: '2017年2月23日',
                category: '涉及',
                aggange: '全年龄'
            },
            checkedGames: [],
            checkedSex: "",
            checkedHobby: "",
            likedstar: "",
            allstars: []


        },
        methods: {
            getAddResult: function (pval) {
                this.result = pval.result;
            },
            btnClick: function (name) {
                this.mygame = name
            },
            computer: function () {
                console.log('computer:' + this.methodTest++);
            },
            changeColor: function () {
                this.isActive = !this.isActive
            },
            changeColorObj: function () {
                this.cssObj.red = !this.cssObj.red
            },
            changeGoals: function () {
                this.goals = Math.round(Math.random() * 100)
            },
            checkUsername: function () {
                if (this.username.length > 0) {
                    this.isValidUserName = true
                } else {
                    this.isValidUserName = false
                }
            }
        },
        filters: {
            toupper: function (value) {
                return value.toUpperCase();
            },
            topercentage: function (value) {
                return value * 100 + '%';
            }
        },
        computed: {
            priceInTax: function () {
                // alert('priceInTax')
                console.log(this.computedTest++)
                return this.price * 1.08;
            },
            priceInChina: function () {
                // alert('priceInChina')
                return Math.round(this.priceInTax / 16.75)
            }
        },
        components: {
            "my-weather": weatherComponent,
            "row1": row1,
            "row2": row2,
            "row3": row3,
        }
    })


</script>

</body>
</html>