<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Todo</title>
    <style>
        .completed {
            text-decoration: line-through;
        }

        .selected {
            color: red;
        }

        .empty {
            border-color: red;
        }
    </style>
</head>
<body>
<div id="todo-app">
    <div>
        <input type="button" value="全部标为完成" v-on:click="markAllAsCompleted"/>
        <input type="text" placeholder="添加 todo" v-model="newTodoTitle" @keyup.enter="addTodo" v-focus="true"
               v-bind:class="{empty:emptyChecked}"/>
        <span v-if="emptyChecked" style="color: red">请输入内容!</span>
    </div>
    <!-- todo list -->
    <ul>

        <li v-for="todo in filteredTodos" :key="todo.id">
            <span v-bind:class="{completed:todo.isComplete}">
                <span v-bind:class="{finished:todo.finished}" @dblclick="editTodo(todo)">
                      {{todo.title}}
                </span>
            </span>
            <input type="button" value="标为完成" @click="markAsComplete(todo)" v-if="!todo.isComplete">
            <input type="button" value="标为未完成" @click="markAsUnComplete(todo)" v-if="todo.isComplete">
            <input type="button" value="删除" @click="removeTodo(todo)">
            <input type="text" value="编辑 todo..." v-if="editedTodo!==null && todo.id === editedTodo.id"
                   v-model="todo.title"
                   v-focus="true"
                   @keyup.enter="editDone(todo)"
                   @keyup.esc="cancelEdit(todo)"/>
        </li>


    </ul>

    <div v-if="hasRemovedTodo">
        <br/>
        <input type="button" value="撤销删除" @click="restoreTodo()">
    </div>


    <!-- end todo list -->
    <div>
        <span>剩余{{leftTodosCount}}项未完成 ---</span>
        <span>筛选：
      <input type="button" class="selected" value="全部" @click="intention='all'">
      <input type="button" value="进行中"  @click="intention='ongoing'">
      <input type="button" value="已完成"  @click="intention='finished'">
      <input type="button" value="清除已完成">
      <input type="button" value="清除全部">
    </span>
    </div>
</div>
</body>

<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>

<script>

    let id = 0;
    var app = new Vue({
        el: '#todo-app',
        data: function () {
            return {
                todos: [],
                newTodoTitle: '',
                checkEmpty: false,
                removedTodo: null,
                editedTodo: null,
                intention: 'all',
            }
        },
        methods: {
            addTodo: function () {
                if (!this.newTodoTitle) {
                    this.checkEmpty = true;
                    return;
                }
                this.todos.push({id: id++, title: this.newTodoTitle, isComplete: false})
                this.newTodoTitle = ''
                this.checkEmpty = false;
            },

            markAsComplete: function (todo) {
                todo.isComplete = true;
            },

            markAsUnComplete: function (todo) {
                todo.isComplete = false;
            },
            removeTodo: function (todo) {
                if (!confirm("确认删除？")) {
                    return;
                }
                let pos = this.todos.indexOf(todo);
                this.removedTodo = {
                    pos: pos,
                    todo: this.todos.splice(this.todos.indexOf(todo), 1)[0]
                }

            },
            restoreTodo: function (todo) {
                let pos = this.removedTodo.pos;
                let restored = this.removedTodo.todo;
                this.todos.splice(pos, 0, restored);
                this.removedTodo = null;
                if (this.editedTodo != null) {
                    restored.title = this.editedTodo.title;
                    this.editedTodo = null;
                }
            },

            editTodo: function (todo) {
                this.editedTodo = {id: todo.id, title: todo.title, finished: todo.finished}
            },
            editDone: function (todo) {

                if (todo.title.length === 0) {
                    this.removeTodo(todo);
                    return;
                }
                this.editedTodo = null;
            },
            cancelEdit: function (todo) {
                todo.title = this.editedTodo.title;
                this.editedTodo = null;
            },
            markAllAsCompleted: function (todo) {
                this.todos.map(function (todo) {
                    if (!todo.isComplete) {
                        todo.isComplete = true;
                    }
                })
            }

        },
        computed: {
            emptyChecked: function () {
                return this.newTodoTitle.length === 0 && this.checkEmpty
            },
            hasRemovedTodo: function () {
                return this.removedTodo != null;
            },
            leftTodos: function () {
                return this.todos.filter(todo => !todo.isComplete);
            },

            leftTodosCount: function () {
                return this.leftTodos.length;
            },
            filteredTodos: function () {

                if (this.intention === "ongoing") {
                    return this.leftTodos
                } else if (this.intention === "finished") {
                    return this.todos.filter(todo => todo.isComplete)
                } else {
                    return this.todos;
                }
            }
        },

        //todo
        directives: {
            focus: {
                inserted: function (el) {
                    el.focus();
                }
            }
        }


    })

</script>
</html>